pre {
    font-family: 'Helvetica Neue';
    text-align: center;
}

#innerFace {
    font-family: 'Brush Script MT';
    font-size: 3vw;
}

#upperText {
    left: 35vw;
    top: 24vw;
}

#lowerText {
    left: 44vw;
    top: 35vw;
}

#about {
    color: #ffffff;
    background-color: #707070;
}
